/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(95, 192, 50);
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation styling */
nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

nav a:hover {
    background: #333;
    color: #fff;
}

/* Main content styling */
main {
    margin: 20px 0;
}

/* Footer styling */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}